<%= search_form_for object, url: url, name: :query do |f| %>
  <div class="input-group search-box">
    <div class="input-group-prepend">
      <%= f.button :submit, class: "btn btn-lg btn-success" do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
    <%= f.search_field attributes, placeholder: t(".search_name"),
      class: "form-control form-control-lg" %>
  </div>
<% end %>
