<div class="store">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render "share/menu_stores" %>
      </div>
      <div class="col-md-9">
        <div class="row"><%= render "stores/product", object: @products %></div>
        <%= will_paginate @products %>
      </div>
    </div>
  </div>
</div>
