<div class="col-md-3">
  <div class="component-1">
    <div>
      <div class="text"><%= title1 %></div>
      <div class="number">
        <strong><%= count.to_a.last.last %></strong>
      </div>
    </div>
    <div><i class="fa fa-calendar fa-2x"></i></div>
  </div>
</div>
<div class="col-md-3">
  <div class="component-2">
    <div>
      <div class="text"><%= title2 %></div>
      <div class="number">
        <strong><%= number_to_currency total.to_a.last.last %></strong>
      </div>
    </div>
    <div><i class="fa fa-dollar-sign fa-2x"></i></div>
  </div>
</div>
