<div class="col-md-3">
  <div class="component-3">
    <div>
      <div class="text"><%= t ".request" %></div>
      <div class="number">
        <strong><%= Settings.requests %></strong>
      </div>
    </div>
    <div><i class="fa fa-comments fa-2x"></i></div>
  </div>
</div>
<div class="col-md-3">
  <div class="component-4">
    <div>
      <div class="text"><%= t ".user" %></div>
      <div class="number">
        <strong><%= @count_users %></strong>
      </div>
    </div>
    <div><i class="fa fa-users fa-2x"></i></div>
  </div>
</div>
