<br>
<ul class="nav">
  <li class="nav-items">
    <%= link_to t(".all"), orders_path, class: "nav-link" %>
  </li>
  <li class="nav-items">
    <%= link_to t(".place"), places_orders_path, class: "nav-link" %>
  </li>
  <li class="nav-items">
    <%= link_to t(".transport"), transports_orders_path, class: "nav-link" %>
  </li>
  <li class="nav-items">
    <%= link_to t(".finish"), finishes_orders_path, class: "nav-link" %>
  </li>
</ul>
<br>
