<tr>
  <td><%= payment_counter + 1 %></td>
  <td><%= render "form", object: payment, url: payment_path(payment) %></td>
  <td><%= link_to t(".delete"), payment, method: :delete,
    data: {confirm: t(".confirm")}, class: "btn btn-danger btn-lg" %></td>
</tr>
