$white: #fff;
$nav-link: #949494;
$green: #85bb27;
$bg: rgba(0, 0, 0, 0.02);
$bg-menu: #380d40;
$black: #212121;
$discount: #c689c6;
$border: #dcd6d6;
$blue: #0000ff;
$rating:#d26e4b;
$star: #ff0000;
$none_star: #969696;
$blue: #4e73df;
$green_2: #1cc88a;
$light: #36b9cc;
$orange: #f6c23e;
